
<div class='container'>
  <h1 class="red-text">Mis Envíos</h1>

  <table class="striped highlight">
    <thead>
      <tr>
        <th>Paquetería</th>
        <th>Número de guía</th>
        <th>Status</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      <% @shipments.each do |shipment| %>
        <tr>
          <td><%= shipment.carrier %></td>
          <td><%= shipment.tracking_number %></td>
          <td><%= shipment.status %></td>
          <td><%= shipment.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
